@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}


.blog-intro-page {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
    padding: 1.5% 0;
}
}
html {
    font-size:63%
}

body {
    font-size:1.8rem;
    line-height:1.2;
    font-family: 'Montserrat', sans-serif;

}

.container {
  width: 800px;
  margin: 0 auto;
}

#blog-intro-page {
  position: center;
}
}
a{
  width:10%;
}
nav {
  display:flex;
  align-items:center;
  justify-content:space-evenly;
  height:12vh;
  position: sticky;
  top: 0;
  z-index: 100;
  background:white;
}
 a.about-nav,a.blog-nav,a.team-nav,a.covid-nav,a.shop-nav {
  text-align:center;
  color:white;
  width:8%;
  text-decoration:none;
  background:#EA7D23;
  padding:0.5%;
  border-radius:12px;
  font-size:1.5rem;
}
a.login-nav,a.signup-nav {
  text-align:center;
  color:#EA7D23;
  border:2px solid #EA7D23;
  width:8%;
  text-decoration:none;
  padding:0.5%;
  border-radius:12px;
  font-size:1.5rem;
}
a.about-nav:hover,a.blog-nav:hover,a.team-nav:hover,a.covid-nav:hover,a.shop-nav:hover {
  text-align:center;
  color:#EA7D23;
  width:8%;
  text-decoration:none;
  background:white;
  border:2px solid #EA7D23;
  padding:0.5%;
  border-radius:12px;
  font-size:1.5rem;
}
a.login-nav:hover,a.signup-nav:hover {
  text-align:center;
  color:white;
  background: #EA7D23;
  border:2px solid #EA7D23;
  width:8%;
  text-decoration:none;
  padding:0.5%;
  border-radius:12px;
  font-size:1.5rem;
}
img.logo {
    height:8vh;
  }


//* flex*// 


header nav a {
  text-align:center;
  color: black;
  padding: 1.5% 0;
  font-weight: 700;
  width:10%;
  font-size:0.85rem;
  text-decoration: none;
}

/*flex section*/

h1, p, .name, .blogarticles {	
  text-align: center;	
  margin: 2%;	
}	
h1, {
  font-size:6rem;
  margin:0;
}

.blogtitle {
  font-size:4rem;
  text-align:center;
}

.blog-intro-page img {
    height:39rem;	
    object-fit: cover;	
    display: block;	
    margin: 2%;	
    margin-top: 4%;	
    margin-left: auto;	
    margin-right: auto;	
    border-radius: 2%;	
}	

.flextime {
    display:flex;
    justify-content: space-evenly;
    width:80%;
    margin:0 auto;
}

.flextimetwo {
  display:flex;
  justify-content: space-around;
  width:80%;
  margin:0 auto;
}

.blog-intro-page img {
  display:flex;
  width: 100%;
}

.intro-text-container {
  text-align: center;
}

.blogarticles {
  text-align:center;
}
}

.blog-intro-page div {	
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/John_Martin_-_The_Plains_of_Heaven_-_Google_Art_Project.jpg/1920px-John_Martin_-_The_Plains_of_Heaven_-_Google_Art_Project.jpg');		
  background-position: center;	
  color: white;	
  width:80%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:60vh;
  margin:5% 0;
}	