/* Add CSS styling here */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}
*{
  box-sizing:border-box;
/*   border:1px solid grey; */
  max-width:100%;
}
/*General Styles*/
html{
  font-size:62.5%;
}

body{
  font-size:5rem;
  line-height:1.5;
  font-family: 'Montserrat', sans-serif;
  
}
h1{
  font-family: 'Montserrat', sans-serif;
  font-size:13rem;
  text-align:center;
}
h2{
  font-size: 7rem;
}
/* Styles for nav*/
a{
  width:10%;
}
nav {
  display:flex;
  align-items:center;
  justify-content:space-evenly;
  height:12vh;
  position: sticky;
  top: 0;
  z-index: 100;
  background:white;
}
 a.about-nav,a.blog-nav,a.team-nav,a.covid-nav,a.shop-nav {
  text-align:center;
  color:white;
  width:8%;
  text-decoration:none;
  background:#EA7D23;
  padding:0.5%;
  border-radius:12px;
  font-size:1.5rem;
}
a.login-nav,a.signup-nav {
  text-align:center;
  color:#EA7D23;
  border:2px solid #EA7D23;
  width:8%;
  text-decoration:none;
  padding:0.5%;
  border-radius:12px;
  font-size:1.5rem;
}
a.about-nav:hover,a.blog-nav:hover,a.team-nav:hover,a.covid-nav:hover,a.shop-nav:hover {
  text-align:center;
  color:#EA7D23;
  width:8%;
  text-decoration:none;
  background:white;
  border:2px solid #EA7D23;
  padding:0.5%;
  border-radius:12px;
  font-size:1.5rem;
}
a.login-nav:hover,a.signup-nav:hover {
  text-align:center;
  color:white;
  background: #EA7D23;
  border:2px solid #EA7D23;
  width:8%;
  text-decoration:none;
  padding:0.5%;
  border-radius:12px;
  font-size:1.5rem;
}
img.logo {  
    height:8vh;    
}

.top-content{
  max-width: 100%;
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.top-content .text-container {
  width: 75%; 
  padding: 3% 6% 13% 6%;
  text-align:center;
}
.top-content #mask{
  margin: 0 40% 0 40%;
  padding: 0 0 5% 0%;
  border-radius:30%;
}
#orange{
  background:#EA7D23;
  color:white;
  padding: 5% 0;
}
section{
  padding: 2% 3%;
}
section{
  display:flex;
  flex-wrap: wrap;
  padding: 2% 3%;
}
.describe{
  text-align:center;
  padding: 3% 10%;
}
.describe h2{
  text-align: center;
  padding: 2% auto;
}  
section .half{
  display:flex;
  flex-wrap: wrap;
  max-width: 40%;
  margin: 0 5%;
  text-align:center;
  
}
section .half h2{
  text-align:center;
  padding: 1% 0;
}
.describe #distance{
  margin:5% 38% 5% 40%;
  align-items:center;
  padding: 0 0 5% 0;
  max-width:30%;
  align-content:center;
}
#bottom-section{
  background:#EA7D23;
  color:white;
  margin: 5% 0;
}
@media(max-width: 800px){
  h1{
    font-size:8rem;
  }
  h2{
    font-size:4rem;
  }
  p{
    font-size:2rem;
  }
}  
@media(max-width: 500px){
  section .half{
    max-width:71%;
    min-width:70%;
    width:70%;
    align-items:center;
    align-content:center;
  }
  .describe #distance{
    align-items: center;
    justify-items: center;
  }
  h1{
    font-size: 2rem;
  }
  h2{
    font-size:1.2rem;
  }
  p{
    font-size:1rem;
  }
  section h2{
    font-size:1.2rem;
  }
  section p{
    font-size:1rem;
  }

}
