img.header-img {
    width:15%;
    height:50vh;
}

header {
    display:flex;
}

img.header-img {
    width:50%;
}

div.title {
    width:50%;
}

h1 {
    font-size:3rem;
}

h2 {
    font-size:1.7rem;
}

button.header-sign-up {
    width:20%;
    padding:2%;
    border-radius:12px;
    background:#EA7D23;
    color:white;
    font-size:1rem;
    border:none;
}

button.header-sign-up:hover {
    background:white;
    color:#EA7D23;
    border:#EA7D23;
}

