section {
    display:flex;
}

img.jacket {
    height:40vh;
}
img.shirt {
    height:40vh;
}
img.hoodie {
    height:40vh;
}

button {
    padding:3%;
    width:40%;
    border-radius:12px;
    background:#EA7D23;
    color:white;
    font-size:1.8rem;
    border:none; 
}

button:hover {
    padding:3%;
    width:40%;
    border-radius:12px;
    background:white;
    color:#EA7D23;
    font-size:1.8rem;
    border:2px solid #EA7D23; 
}

section.items {
    display:flex;
    justify-content:space-evenly;
    margin-top:5%;
    text-align:center;
    margin-bottom:20%;
}

img.hoodie,img.shirt,img.jacket {
    margin-bottom:5%;
    border:8px solid black;
    border-radius:10%;
    padding:3%;
}

h2 {
    font-size:2rem;
    margin-bottom:8%;
}

h1 {
    display:flex;
    align-items:center;
    justify-content:center;
    background:black;
    color:white;
    height:20vh;
    margin-bottom:3%;
}

header{
    display:flex;
    justify-content:center;
    background-image: url('../style/Screen Shot 2020-09-22 at 8.21.06 AM.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:90vh;
    width:100%;
    display:flex;
}

img.down-arrow {
  margin-top:15%;
    width:20%;
    height:30vh;
}

footer {
    display:flex;
    background:#EA7D23;
}

img.footer-logo {
    display:flex;
    align-items:center;
    width:15%;
    height:15vh;
}


/* navigation starts */
nav {
  display:flex;
  align-items:center;
  justify-content:space-evenly;
  height:12vh;
}


 a.about-nav,a.blog-nav,a.team-nav,a.covid-nav,a.shop-nav {
  text-align:center;
  color:white;
  width:10%;
  text-decoration:none;
  background:#EA7D23;
  padding:0.5%;
  border-radius:12px;
  font-size:1.5rem;
}

a.login-nav,a.signup-nav {
  text-align:center;
  color:#EA7D23;
  border:2px solid #EA7D23;
  width:10%;
  text-decoration:none;
  padding:0.5%;
  border-radius:12px;
  font-size:1.5rem;
}

a.about-nav:hover,a.blog-nav:hover,a.team-nav:hover,a.covid-nav:hover,a.shop-nav:hover {
  text-align:center;
  color:#EA7D23;
  width:10%;
  text-decoration:none;
  background:white;
  border:2px solid #EA7D23;
  padding:0.5%;
  border-radius:12px;
  font-size:1.5rem;
}

a.login-nav:hover,a.signup-nav:hover {
  text-align:center;
  color:white;
  background: #EA7D23;
  border:2px solid #EA7D23;
  width:10%;
  text-decoration:none;
  padding:0.5%;
  border-radius:12px;
  font-size:1.5rem;
}

img.logo {
    width:40%;
    height:7vh;
  }

  @media(max-width:800px) {
      img.logo {
        width:70%;
        height:7vh;
      }
      
      img.down-arrow {
          width:40%;
          margin-top:30%;
      }

      a.about-nav,a.blog-nav,a.team-nav,a.covid-nav,a.shop-nav,a.signup-nav,a.login-nav {
        width:40%;
        font-size:1rem;
    }

    img.logo {
        width:80%;
        height:7vh;
      }

      img.hoodie-section,img.shirt-section,img.jacket-section {
          width:30%;
          height:20vh;
      }

      img.footer-logo {
          width:30%;
      }
  }

  @media(max-width:500px) {
      section.items {
          display:flex;
          flex-direction:column;
      }

      button {
          width:30%;
          margin-bottom:20%;
      }

      h2 {
          margin-bottom:2%;
      }

      img.footer-logo {
          width:40%;
      }

      img.down-arrow {
         width:50%;
  }

  nav {
      height:50vh;
      display:flex;
      flex-direction:column;
  }

  img.logo {
      width:100%;
  }

  a.about-nav,a.blog-nav,a.team-nav,a.covid-nav,a.shop-nav,a.signup-nav,a.login-nav {
    padding:2%;
}

}

